#div-Form-0_0 {margin-bottom: 15px;}
#div-Form-0_2 {margin-top: 15px;}
#topPanel img{height: 40px;}
#div-topPanel-1_0 {float: right; margin-right: 10px;} 
#div-topPanel-1_0 img {width: 25px;height: 25px;}
#pagePanel {overflow: hidden;}
#div-bottomPanel-0_0 {display:none;position: absolute;z-index: 100000;left:45px;top:600px;background-color: white; width: 350px;}
#div-bottomPanel-0_1 {display:none;position: absolute;z-index: 100000;left:90px;top:600px;background-color: white;}
#div-treePanel-0_1 {border-top: 1px solid #8DB9DB;}
#div-userForm-0_2 {width: 100%; border-top: 1px solid #8DB9DB;}
#div-userForm-0_2 img{float: right; margin-right: 10px; cursor: pointer;}