#div-goldenOrderForm-goldenOrderForm-priceSelector-Form-0_1{display:none;}
#div-goldenOrderForm-goldenOrderForm-chatUI-actionPanel-1_0{display:none;}
/*for image gallary widget style issue.*/
.uimaster_container_cell{float:none;}
#div-saleOrder-saleOrder-actionPanel-0_0{width: 41%;}
#div-previewMOrderForm-previewMOrderForm-attributePanel1-0_0 {border-top: 1px solid #a6c9e2;}
#div-goldenOrderForm-goldenOrderForm-selectTypePanel-0_0, #div-selectRentOrderTypePanel-0_0 {
    width: 100px;
    min-width: 100px;
    height: 30px;
    padding-left: 80px; }
#div-goldenOrderForm-goldenOrderForm-selectTypePanel-1_0, #div-selectRentOrderTypePanel-1_0 {
    width: 100px;
    min-width: 100px;
    height: 30px;
    padding-left: 80px;
    padding-top: 30px; }
.productInfoForm_typeUI_Label{cursor:pointer;text-decoration: underline;}
.pricepackage{word-break: break-all; word-wrap:break-word;}
.pricepackagelabel{text-decoration: underline;}