#div-goldenOrderForm-goldenOrderForm-priceSelector-Form-0_1{display:none;}
#div-goldenOrderForm-goldenOrderForm-chatUI-actionPanel-1_0{display:none;}
/*for image gallary widget style issue.*/
.uimaster_container_cell{float:none;}
#div-saleOrder-saleOrder-actionPanel-0_0{width: 41%;}
#div-mOrderForm-mOrderForm-attributePanel-1_3 {width:100%;}