.order_step {background-color: aliceblue;}
.vogerp_order {border-bottom: 1px solid #a6c9e2; margin-bottom: 5px;padding-bottom: 5px;}
.order_track_table td{ width:50%;}
.order_track_table th{ text-align: left;}
.order_track_address td {border-bottom: 1px solid #a6c9e2; margin-bottom: 5px; padding-bottom: 5px;}