#div-organizationTreeForm-treePanel-0_0{ height: 260px; width: 220px;}
#div-organizationTreeForm-rootPanel-0_0{ margin-right:5px;}
#div-organizationTreeForm-detailPanel-0_0 {display:none;}
#organizationTreeForm.detailPanel{height: 270px;}
#div-organizationTreeForm-newOrgForm-Form-0_1 input{}