body{margin:0;}
div#Form {
    width: 100%;
    background-image : url(/uimaster/images/coupon/front/background.jpg);
    background-repeat : no-repeat;
	background-size : cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
    color : white;
    font-family: "Microsoft YaHei" ! important;
}

div#div-Form-0_0 {
    margin: 0;
    width : 100%;
    max-height : 30px;
}

#div-Form-0_0 img.uimaster_image {
    width: 100%;
}

div#div-Form-0_1 {
    width: 100%;
}

div#couponPanel {
    margin: 1px;
    border : 2px solid white;
}

div#div-couponPanel-0_0 {
    background-size: cover;
    background-image: url(/uimaster/images/coupon/front/couponInfoBackground.jpg);
    color: white;
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 5%;
}
#div-exchangePanel-0_0{
	width: 60%;
    margin: 0 0 0 5%;
}
#div-contactPanel-0_0, #div-contactPanel-0_1{
	width:10%;
}
#div-contactPanel-0_0 img, #div-contactPanel-0_1 img{
	width:100%;
}
div#div-contactPanel-0_1, #div-contactPanel-1_1 {
    margin-top: 0;
}

div#div-exchangePanel-1_0 {
    width: 35%;
    text-align: center;
}

div#div-exchangeInfoPanel-0_0 {
    width: 30%;
    margin-top: 7%;
}

#div-exchangeInfoPanel-0_0 img {
    width: 100%;
}


div#div-serialNumPanel-0_0 {
    width: 27%;
    text-align: right;
}

div#div-serialNumPanel-1_0 {
    width: 27%;
    text-align: left;
}

div#div-serialNumPanel-2_0 {
    width: 25%;
    text-align: right;
}

div#div-serialNumPanel-3_0 {
    width: 15%;
}

div#div-couponPanel-0_1 {
    width: 100%;
    margin: 1% 0 8% 0;
}

div#div-couponImagePanel-0_0 {
    width: 45%;
    margin: 0;
}

#div-couponImagePanel-0_0 img.uimaster_image {
    width: 70%;
    border: solid 2px white;
    margin-left: 20%;
}

div#div-couponImagePanel-1_0 {
    width: 45%;
}

div#div-couponImageRightPanel-0_0 {
    width: 100%;
    font-size: 1.4em;
    margin-top: 0%;
    color: #FFE59B;
}

div#div-couponPanel-0_2 {
    width: 96%;
    margin: 0 2% 0 2%;
}

#div-couponPanel-0_2 img.uimaster_image {
    width: 100%;
}

div#div-couponPanel-0_3 {
    width: 100%;
    margin : 0;
}

div#div-bottomPanel-0_0 {width: 55%;      margin: 5% 0 0 5%;}

div#div-couponPanel-0_3 {
    width: 100%;
    margin : 0;
}

div#bottomPanel {
    width: 96%;
    margin: 0 2% 0 2%;
}

div#div-bottomLeftPanel-0_0 {
    font-size: 1.2em;
    color: #FD3657;
}

div#div-bottomLeftPanel-0_1 {
    margin: 0;
}
div#div-bottomLeftPanel-0_2{
	margin: 5% 0 0 0;
}

div#div-bottomLeftPanel-0_3 {
    width: 100%;
}

div#div-bottom3Panel-0_0 {
    font-size: 0.9em;
    width:85%;
}

div#div-bottomPanel-1_0 {
    width: 40%;
    margin : 0;
}

#div-bottomPanel-1_0 img.uimaster_image {
    width: 90%;
    margin: 20% 0 0 10%;
}

#div-bottom3Panel-1_0 img.uimaster_image {
    width: 100%;
}

span {
    white-space: nowrap;
}
#couponDiscountText_Label{
	font-size: 1.4em;
	color: #FFE59B;
}
#div-bottom3LeftPanel-0_0, #div-bottom3LeftPanel-0_1{
	margin: 0;
	color: #FFE59B;
}
#div-bottom3Panel-1_0{
	width: 15%;
    margin-top: 7%;
}
#div-bottomLeftPanel-0_1 {
	font-size: 0.9em;
}
#ui-mask-shadow{display:none;}

div#div-Form-0_2 {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

div#exchangeClickInfoPanel {
    width: 60%;
    margin: 65% 0 0 20%;
    min-height: 10%;
    max-height: 10%;
    background: black;
    border: solid white 1px;
    border-radius: 15px;
}

div#div-exchangeClickInfoPanel-0_0 {
    margin: 7% 0 0 5%;
    width: 15%;
}

div#div-exchangeClickInfoPanel-1_0 {
    width: 65%;
    margin: 4% 0 0 0;
    padding-top: 6%;
    font-size: 1em;
}

#div-exchangeClickInfoPanel-0_0 img {
    width: 100%;
}

div#div-exchangeClickInfoPanel-2_0 {
    float: right;
    margin: -3%;
}
#div-couponImageLeftPanel-0_1{
	margin: 0 0 0 20%;
    font-size: 0.8em;
}
#div-couponImageLeftPanel-0_0{
	margin: 0;
}
#div-exchangeTextPanel-0_0{
	margin: 20% 0 0 0;
}
#div-exchangeTextPanel-0_1{
	margin : 0;
}