#Form{
	width : 100%;
	text-align : center;
	background-size : cover;
	background-image : url(/uimaster/images/coupon/front/background.png);
	background-repeat : no-repeat;
	background-size : cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
}
#div-Form-0_0{
	width : 100%;
}
#div-Form-0_1{
	position : absolute;
	background-size : cover;
	background-image : url(/uimaster/images/coupon/front/curtain.png);
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#curtainPanel{
	margin: 50% auto;
    width: 40%;
}
#curtainPanel img{
	width : 100%;
}
#div-leftPanel-0_0 img{
	width : 100%;
}
#div-leftPanel-0_1{
	display : none;
}
#div-lotteryForm-Form-0_0{
	float : none;
	position : relative;
}
#lotteryForm.lotteryStartPanel{
	width : 100%;
}
#div-lotteryForm-lotteryStartPanel-0_0{
	width : 67%;
	margin : 0;
	padding : 0;
}
#div-lotteryForm-lotteryStartPanel-0_0 div{
	margin : 0;
	padding : 0;
}
#div-lotteryForm-lotteryStartPanel-0_0 input{
	width : 100%;
	min-height : 3px;
	font-size : 1em;
}
#div-lotteryForm-lotteryStartPanel-0_0 span{
	display : none;
}
#div-lotteryForm-lotteryStartPanel-1_0{
	width : 33%;
	margin : 0;
	padding : 0;
}
#div-lotteryForm-lotteryStartPanel-1_0 img{
	width : 100%;
}
#lotteryForm\.restCouponPanel{
	width : 100%;
	margin : auto;
	background-image : url(/uimaster/images/coupon/front/jackpotBackground.png);
	background-repeat : no-repeat;
	background-size : cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
}

#lotteryPanel{
	width : 94.5%;
	margin : auto;
}
.couponJackpotImageDiv{
	min-width : 1px;
	padding-top : 8%;
	float : left;
	clear : none;
}
.couponJackpotImageDiv img{
	width : 90%;
	border: solid 1px white;
}
.couponJackpotTextDiv{
	min-width : 1px;
	color : white;
	font-size : 1em;
	padding-top : 17%;
	float : left;
	clear : none;
	text-align: left;
}
#div-leftPanel-0_3{
	color : white;
}

#lotteryForm\.couponPanel{
	width : 100%;
	background-image : url(/uimaster/images/coupon/front/border.png);
	background-repeat : no-repeat;
	background-size : cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
	margin : 2% 0 2% 0;
	overflow : hidden;
	position : relative;
	z-index : 2;
}
#ui-mask-shadow .ui-widget-overlay{
	display : none;
}
.lotteryForm_couponImage{
	width: 30%;
    float: left;
    margin-left: 2.5%;
    position : relative;
}
.lotteryForm_couponImage img{
	width: 77%;
}
#div-leftPanel-0_3{
	text-decoration:underline;
}

#div-leftPanel-0_1{
	min-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    display: none;
    margin : 0;
}
#div-leftPanel-0_1 img{
	width : 100%;
}
#div-leftPanel-0_4{
	min-width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 4;
    display: none;
    margin : 0;
}
#div-leftPanel-0_4 img{
	width : 100%;
}
#div-leftPanel-0_5{
	min-width: 100%;
    position: absolute;
    left: 3%;
    top : 0;
    width: 10%;
    text-align: left;
    z-index: 3;
    display: none;
}
#div-leftPanel-0_5 img, #div-leftPanel-0_6 img{
	width: 4%;
}
#div-leftPanel-0_6{
	min-width: 100%;
    position: absolute;
    right: 3%;
    width: 10%;
    text-align: right;
    top : 0;
    z-index: 3;
    display: none;
}


#couponForm\.Form, #thanksForm\.Form{
	width : 100%;
	background-size : cover;
	background-image : url(/uimaster/images/coupon/front/background.png);
	color : white;
}
#div-couponForm-couponForm-Form-0_0,#div-thanksForm-thanksForm-Form-0_0{
	margin : 0;
	width : 100%;
}
#div-couponForm-couponForm-Form-0_0 img,#div-thanksForm-thanksForm-Form-0_0 img{
	width : 100%;
}
#div-couponForm-couponForm-Form-0_1,#div-thanksForm-thanksForm-Form-0_1{
	width : 100%;
}
#couponForm\.couponPanel, thanksForm\.thanksPanel{
	margin : 1px;
	border : 2px solid white;
}
#div-couponForm-couponForm-couponPanel-0_0{
	background-size : cover;
	background-image : url(/uimaster/images/coupon/front/couponSerialNumBox.png);
	margin : 3% 2% 7% 2%;
	width : 96%;
	color : black;
	font-size: 1.5em;
}
#div-couponForm-couponForm-serialNumPanel-0_0{
	width: 27%;
    text-align: right;
}
#div-couponForm-couponForm-serialNumPanel-1_0{
	width: 27%;
    text-align: left;
}
#div-couponForm-couponForm-serialNumPanel-2_0{
	width: 25%;
    text-align: right;
}
#div-couponForm-couponForm-couponPanel-0_1{
	width : 100%;
	margin: 1% 0 8% 0;
}
#div-couponForm-couponForm-couponImagePanel-0_0{
	width: 45%;
    margin: 0;
}
#div-couponForm-couponForm-couponImagePanel-0_0 img{
	width: 70%;
    border: solid 2px white;
    margin-left: 20%;
}
#div-couponForm-couponForm-couponImagePanel-1_0{
	width : 45%;
}
#div-couponForm-couponForm-couponImageRightPanel-0_0{
	width: 100%;
    font-size: 2.5em;
    margin-top: 15%;
    color: #FFE59B;
}
#div-couponForm-couponForm-couponPanel-0_2{
	width: 96%;
    margin: 0 2% 0 2%;
}
#div-couponForm-couponForm-couponPanel-0_2 img{
	width : 100%;
}

#div-couponForm-couponForm-couponPanel-0_3{
	width : 100%;
	margin : 0;
}
#div-couponForm-couponForm-bottomPanel-0_0{
	width : 50%;
}
#div-couponForm-couponForm-couponPanel-0_3{
	width : 100%;
	margin : 0;
}
#couponForm\.bottomPanel,#thanksForm\.bottomPanel{
	width: 96%;
    margin: 0 2% 0 2%;
}
#div-couponForm-couponForm-bottomPanel-0_0, #div-thanksForm-thanksForm-bottomPanel-0_0{
	width: 65%;
    margin: 5% 0 0 5%;
}
#div-couponForm-couponForm-bottomLeftPanel-0_0{
	font-size: 2em;
    color: #FD3657;
}
#div-couponForm-couponForm-bottomLeftPanel-0_1, #div-couponForm-couponForm-bottomLeftPanel-0_2 {
	margin : 0;
}
#div-couponForm-couponForm-bottomLeftPanel-0_3{
	width : 100%;
}
#div-couponForm-couponForm-bottom3Panel-0_0{
	font-size: 1.1em;
    margin: 18% 7% 0 0;
}
#div-couponForm-couponForm-bottom3Panel-1_0{
	width : 30%;
}
#div-couponForm-couponForm-bottomPanel-1_0{
	width : 30%;
	margin : 0;
}
#div-couponForm-couponForm-bottomPanel-1_0 img{
	width: 90%;
    margin: 40% 0 0 10%;
}



#div-thanksForm-thanksForm-thanksPanel-0_0{
	width : 100%;
}
#div-thanksForm-thanksForm-topPanel-0_0{
	width : 50%;
	margin : 0;
}
#div-thanksForm-thanksForm-topPanel-0_0 img{
	width : 100%;
	margin-left: 5%;
}
#div-thanksForm-thanksForm-topPanel-1_0{
	width : 50%;
	color : white;
	font-size : 2em;
	text-align: center;
	margin-top : 12%;
}
#div-thanksForm-thanksForm-thanksTextPanel-0_0,#div-thanksForm-thanksForm-thanksTextPanel-0_1{
	width : 100%;
}
#div-thanksForm-thanksForm-thanksPanel-0_1{
	width : 100%;
	margin : 0;
}
#div-thanksForm-thanksForm-thanksPanel-0_1 img{
	width: 96%;
    margin: 0 2%;
}
#div-thanksForm-thanksForm-thanksPanel-0_2{
	width : 100%;
	margin : 0;
}
#div-thanksForm-thanksForm-bottomTextPanel-0_0{
	font-size: 1.5em;
    color : #FD3657;
}
#div-thanksForm-thanksForm-bottomTextPanel-0_1{
	font-size: 1.5em;
    text-align: right;
    margin-left: 20%;
    color : #FD3657;
}
#div-thanksForm-thanksForm-bottomPanel-1_0{
	width: 30%;
    margin: 5% 0 0 0;
}
#div-thanksForm-thanksForm-bottomPanel-1_0 img {
	width : 100%;
}
#div-thanksForm-thanksForm-bottom3Panel-0_0{
	font-size: 1.1em;
	margin: 20% 0 0 0;
}




#choiceDiscountForm\.Form{
	width : 100%;
	background-size : cover;
	background-image : url(/uimaster/images/coupon/front/background.png);
}
#div-choiceDiscountForm-choiceDiscountForm-Form-0_0{
	width : 100%;
	margin : 0;
}
#div-choiceDiscountForm-choiceDiscountForm-Form-0_0 img{
	width : 100%;
}
#div-choiceDiscountForm-choiceDiscountForm-Form-0_1{
	margin : 1px;
	border : solid 2px white;
	width : 100%;
	margin : 0;
}
#div-choiceDiscountForm-choiceDiscountForm-ProductPanel-0_0{
	width: 96%;
    margin: 2%;
}
#div-choiceDiscountForm-choiceDiscountForm-ProductPanel-0_0 img{
	width : 100%;
}
#div-choiceDiscountForm-choiceDiscountForm-topTextPanel-0_1{
	width: 40%;
    position: absolute;
    top: 12.5%;
    left: 30%;
}
#choiceDiscountForm\.topTextLabel_Label{
	
}
#div-choiceDiscountForm-choiceDiscountForm-ProductPanel-0_2{
	width : 100%;
	margin : 0;
}
#div-choiceDiscountForm-choiceDiscountForm-ProductPanel-0_2 img{
	width : 100%;
}


#choiceDiscountForm_choiceDiscountTableActionBar, #choiceDiscountForm\.choiceDiscountTable_length,#choiceDiscountForm.choiceDiscountTable thead{
	display : none;
}


