#Form{
	width : 100%;
	text-align : center;
	background-size : cover;
	background-image : url(/uimaster/images/coupon/front/background.jpg);
	background-repeat : no-repeat;
	background-size : cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
}
#div-Form-0_0{
	width : 100%;
}
#div-Form-0_1{
	position : absolute;
	background-size : cover;
	background-image : url(/uimaster/images/coupon/front/curtain.gif);
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#curtainPanel{
	margin: 50% auto;
    width: 40%;
}
#curtainPanel img{
	width : 100%;
}
#div-leftPanel-0_0 img{
	width : 100%;
}
#div-leftPanel-0_1{
	display : none;
}
#div-lotteryForm-Form-0_0{
	float : none;
	position : relative;
}
#lotteryForm.lotteryStartPanel{
	width : 100%;
}
#div-lotteryForm-lotteryStartPanel-0_0{
	width : 67%;
	margin : 0;
	padding : 0;
}
#div-lotteryForm-lotteryStartPanel-0_0 div{
	margin : 0;
	padding : 0;
}
#div-lotteryForm-lotteryStartPanel-0_0 input{
	width : 100%;
	min-height : 3px;
	font-size : 1em;
}
#div-lotteryForm-lotteryStartPanel-0_0 span{
	display : none;
}
#div-lotteryForm-lotteryStartPanel-1_0{
	width : 33%;
	margin : 0;
	padding : 0;
}
#div-lotteryForm-lotteryStartPanel-1_0 img{
	width : 100%;
}
#lotteryForm\.restCouponPanel{
	width : 100%;
	margin : auto;
	background-image : url(/uimaster/images/coupon/front/jackpotBackground.png);
	background-repeat : no-repeat;
	background-size : cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
}

#lotteryPanel{
	width : 94.5%;
	margin : auto;
}
.couponJackpotImageDiv{
	min-width : 1px;
	padding-top : 8%;
	float : left;
	clear : none;
}
.couponJackpotImageDiv img{
	width : 90%;
	border: solid 1px white;
}
.couponJackpotTextDiv{
	min-width : 1px;
	color : white;
	font-size : 1em;
	padding-top : 17%;
	float : left;
	clear : none;
	text-align: left;
}
#div-leftPanel-0_3{
	color : white;
}

#lotteryForm\.couponPanel{
	width : 100%;
	background-image : url(/uimaster/images/coupon/front/border.png);
	background-repeat : no-repeat;
	background-size : cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
	margin : 2% 0 2% 0;
	overflow : hidden;
	position : relative;
	z-index : 2;
}
#ui-mask-shadow .ui-widget-overlay{
	display : none;
}
.lotteryForm_couponImage{
	width: 30%;
    float: left;
    margin-left: 2.5%;
    position : relative;
}
.lotteryForm_couponImage img{
	width: 77%;
}
#div-leftPanel-0_3{
	text-decoration:underline;
}

#div-leftPanel-0_1{
	min-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    display: none;
    margin : 0;
}
#div-leftPanel-0_1 img{
	width : 100%;
}
#div-leftPanel-0_4{
	min-width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 4;
    display: none;
    margin : 0;
}
#div-leftPanel-0_4 img{
	width : 100%;
}
#div-leftPanel-0_5{
	min-width: 100%;
    position: absolute;
    left: 3%;
    top : 0;
    width: 10%;
    text-align: left;
    z-index: 3;
    display: none;
}
#div-leftPanel-0_5 img, #div-leftPanel-0_6 img{
	width: 4%;
}
#div-leftPanel-0_6{
	min-width: 100%;
    position: absolute;
    right: 3%;
    width: 10%;
    text-align: right;
    top : 0;
    z-index: 3;
    display: none;
}


.rollCurtain{
	animation:myfirst 1s;
	-moz-animation:myfirst 1s; /* Firefox */
	-webkit-animation:myfirst 1s; /* Safari and Chrome */
	-o-animation:myfirst 1s; /* Opera */
}
@keyframes myfirst
{
from {left:0;}
to {left:-100%;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {left:0;}
to {left:-100%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {left:0;}
to {left:-100%;}
}
