div#Form {
    width: 100%;
    background-image : url(/uimaster/images/coupon/front/background.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    -moz-background-size : cover;
    -webkit-background-size : cover;
    color : white;
    font-family: "Microsoft YaHei" ! important;
}

div#div-Form-0_0 {
    margin: 0;
    width : 100%;
}

#div-Form-0_0 img.uimaster_image {
    width: 100%;
}

div#div-Form-0_1 {margin: 1px;      border : solid 2px white;      width : 99%;      margin : 0;      float : none;}

div#div-couponPanel-0_0 {
    margin: 0;
}

div#couponTableActionBar {
    display: none;
}

div#couponTable_length {
    display: none;
}

table#couponTable {
    background: none;
    border: none;
    width: 92%;
    margin: 0 4% 0 4%;
}

thead {
    display: none;
}

#couponTable tbody {
	background: none;
}

#couponTable tr {
    background: none;
    border : none;
}

#couponTable td {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 700px;
    border-bottom : 2px white dashed;
}
img[class1='couponImageView']{
	width : 100%;
}
div[class1='couponInfoPanel'] > div.uimaster_widget_cell,div[class1='couponInfoPanel'] > div.uimaster_container_cell {
	width : 100%;
}
span[class1='discountProductNameView'] {
	font-size: 2em;
    color: #FFE59B;
}
span[class1='productDiscountView']{
	font-size : 1.4em;
	color: #FD3657;
}
span[class1='expiredDateView']{
    border: solid 1px white;
    color: #FD3657;
    margin: 5% 0 0 1.5%;
}




