.gorder_attr{margin-left: 20px;}
.gorder_attr_title{width: 100px;float: left;clear: both;}
#div-searchBar-root-0_0 {text-align: right;padding-right: 10px;}
#div-searchBar-root-1_0 input{width:97%; height:25px;}