.gorder_attr{margin-left: 20px;}
.gorder_attr_title{width: 100px;float: left;clear: both;}
#div-searchBar-root-0_0 {cursor: pointer; min-width: 120px;width: 120px;}
#div-searchBar-root-1_0 {cursor: pointer; min-width: 120px;width: 120px;}
#div-searchBar-root-2_0 input{width:97%; height:25px;}
#div-searchBar-root-3_0 {min-width: 50px;width: 50px;}
#div-searchBar-root-4_0 {min-width: 50px;width: 50px;}

.uimaster_container_cell{float:none;}
