.gorder_attr_title{width: 100px;float: left;clear: both;}
#attColumn{display:none}
#goldenOrderTable_SelectColumn{display:none}
#div-searchBar-firstRow-0_0{width: 160px;float: left;}
#div-searchBar-firstRow-1_0{float: right;}