#div-Form-0_0 {margin-bottom: 15px;}
#div-middlePanel-0_0 {margin-right: 15px;}
#div-Form-0_2 {margin-top: 15px;}
#div-topPanel-1_0 {display:none;position: absolute;z-index: 100000;left:45px;top:48px;}
#pagePanel {overflow: hidden;}
#div-topPanel-0_0 img{cursor:pointer;}
#bottomPanel img{height: 40px;}